/*// Reset styles
* {
    margin: 0;
    padding: 0;
}*/
body {
  margin: 0;
  padding: 0;
}

p, h2, h3 {
  font-family: "Roboto", sans-serif;
}

.logo, h1 {
  font-family: "Shrikhand", cursive;
}

.logo {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.logo__image {
  width: 300px;
  padding-top: 5px;
  object-fit: contain;
}

.position {
  display: flex;
  background-color: #bbbbbb7e;
  box-shadow: -1px 35px 9px -32px rgba(0, 0, 0, 0.1) inset;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: auto;
}
.position i {
  height: 40px;
  width: 40px;
  font-size: 1.5em;
  padding-top: 14px;
  font-weight: bold;
}
.position__text {
  font-size: 1.5em;
  font-weight: bold;
}

.text {
  background-color: #eaeaea;
}
.text__title {
  text-align: center;
  padding-top: 20px;
  margin: 0;
}
.text__subtitle {
  opacity: 0.6;
  text-align: center;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.bouton {
  display: flex;
  justify-content: center;
  background-color: #eaeaea;
  padding-bottom: 60px;
}
.bouton .btn {
  border: 1px solid black;
  text-decoration: none;
  border: none;
  padding: 20px;
  border-radius: 40px;
  padding-left: 60px;
  padding-right: 60px;
  font-size: 1em;
  color: white;
  box-shadow: 0px 5px 5px 5px rgba(133, 133, 133, 0.24);
  background: linear-gradient(#FF79DA, #9356DC);
}
.bouton .btn.btn:hover {
  background: linear-gradient(#FF79DA, #9356DC);
  opacity: 0.7;
}

@media screen and (max-width: 765px) {
  .logo {
    width: auto;
    height: 50px;
  }
  .logo__image {
    width: 200px;
  }

  .position i {
    padding-right: 5px;
    height: auto;
    width: auto;
    font-size: 16px;
    padding-top: 0;
  }
  .position__text {
    font-size: 16px;
    padding-left: 5px;
  }

  .bouton .btn {
    padding-left: 30px;
    padding-right: 30px;
  }
}
.header-fonctionnement {
  display: flex;
}

.header-fonctionnement__fonctionnement, .restaurants {
  font-size: 1.3em;
  margin-left: 10px;
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.header-fonctionnement__barre-menu {
  display: flex;
  position: relative;
  margin-left: 30px;
  font-size: 1.1em;
  box-shadow: 0px 5px 5px 5px rgba(133, 133, 133, 0.24);
  width: 300px;
  height: 50px;
  margin-top: 50px;
  margin-right: 50px;
  margin-left: 50px;
  padding-bottom: 20px;
  padding-top: 5px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-bottom: 40px;
  background-color: #eaeaea;
}
.header-fonctionnement__barre-menu__barre-menu-numero {
  position: absolute;
  display: flex;
  top: 28px;
  left: -23px;
  width: 23px;
  height: 23px;
  border-radius: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  color: white;
  background-color: #9356DC;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
}
.header-fonctionnement__barre-menu__icons {
  margin-left: 20px;
  padding-top: 20px;
  color: rgba(0, 0, 0, 0.521);
}
.header-fonctionnement__barre-menu__icons:hover {
  color: #9356DC;
}
.header-fonctionnement__barre-menu__text-fonctionnement {
  margin-left: 15px;
  padding-top: 20px;
  font-weight: bold;
}
.header-fonctionnement__barre-menu__text-fonctionnement p {
  position: relative;
  top: -20px;
  font-weight: bold;
}

@media screen and (max-width: 1200px) {
  .header-fonctionnement {
    display: block;
  }
  .header-fonctionnement__barre-menu {
    width: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .header-fonctionnement__barre-menu__text-fonctionnement p {
    top: 0px;
  }
}
@media screen and (max-width: 765px) {
  .header-fonctionnement__fonctionnement, .restaurants {
    justify-content: left;
    padding-left: 15px;
    margin-left: 0;
  }
  .header-fonctionnement__barre-menu {
    margin-top: 0;
    margin-right: 20px;
    margin-left: 20px;
  }
  .header-fonctionnement__barre-menu__icons {
    margin-left: 0;
  }
}
.restaurants {
  background-color: rgba(185, 185, 185, 0.363);
  margin-left: 0;
}
.restaurants__title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  background-color: rgba(185, 185, 185, 0.363);
}
.portfolio__card-item {
  flex-grow: 1;
  overflow: hidden;
  width: 500px;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  box-shadow: 0px 5px 5px 5px rgba(133, 133, 133, 0.24);
}
.portfolio__card-item__card-photo {
  position: relative;
  height: 350px;
}
.portfolio__card-item__card-photo__card-image {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.portfolio__card-item__card-photo__badge {
  position: absolute;
  top: 20px;
  right: 10px;
  background-color: #99E2D0;
  color: green;
  border-radius: 5px;
  padding: 10px 20px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 13px;
}
.portfolio__card-item__card-text {
  position: relative;
  font-size: 1.3em;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.portfolio__card-item__card-text p {
  margin: 0;
}
.portfolio__card-item__card-text .coeur {
  font-size: 1.1em;
  border: none;
  background-color: transparent;
}
.portfolio__card-item__card-text .empty i {
  color: black;
}
.portfolio__card-item__card-text .empty:hover {
  display: none;
  opacity: 0;
}
.portfolio__card-item__card-text .full {
  display: none;
  opacity: 0;
}
.portfolio__card-item__card-text .full i {
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.portfolio__card-item__card-text .empty:hover + .full {
  display: block;
  opacity: 1;
}

@media screen and (max-width: 1200px) {
  .portfolio__card-item {
    width: auto;
  }
}
@media screen and (max-width: 765px) {
  .restaurants {
    padding-top: 40px;
  }
  .restaurants__title {
    font-size: 1.1em;
  }

  .portfolio {
    width: 100%;
    padding: 0;
    padding-bottom: 80px;
  }
  .portfolio__card-item__card-photo {
    height: 200px;
  }
  .portfolio__card-item__card-text p {
    font-size: 0.8em;
  }
  .portfolio__card-item__card-text .coeur {
    top: -2px;
  }
}
.footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #353535;
}
.footer__logo-footer {
  height: 100px;
  width: 200px;
  margin: 0 auto;
}
.footer__logo-footer__image {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.footer__elements-footer a {
  text-decoration: none;
}
.footer__elements-footer__icons-footer, .footer__elements-footer__contact, .footer__elements-footer__text {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.footer__elements-footer__icons-footer i, .footer__elements-footer__contact i, .footer__elements-footer__text i {
  padding-right: 10px;
}
.footer__elements-footer__icons-footer p, .footer__elements-footer__contact p, .footer__elements-footer__text p {
  font-weight: bold;
  opacity: 0.8;
}
.footer__elements-footer__icons-footer-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.footer__elements-footer__icons-footer-2 i {
  padding-right: 10px;
}
.footer__elements-footer__icons-footer-2 p {
  font-weight: bold;
  opacity: 0.8;
}
.footer__elements-footer__contact {
  margin-right: 53px;
}

@media screen and (max-width: 765px) {
  .footer__logo-footer {
    width: 100px;
    margin: 0;
    padding: 20px;
    height: auto;
  }
  .footer__elements-footer {
    padding: 20px;
    padding-top: 0;
  }
  .footer__elements-footer__icons-footer, .footer__elements-footer__text, .footer__elements-footer__contact {
    justify-content: start;
    padding-bottom: 5px;
  }
  .footer__elements-footer__icons-footer p, .footer__elements-footer__text p, .footer__elements-footer__contact p {
    margin: 0;
    font-size: 1em;
  }
  .footer__elements-footer__icons-footer-2 {
    justify-content: start;
    padding-bottom: 5px;
  }
  .footer__elements-footer__icons-footer-2 i {
    padding-right: 10px;
    margin-left: -6px;
  }
  .footer__elements-footer__icons-footer-2 p {
    margin: 0;
  }
  .footer__elements-footer__text {
    margin: 0;
  }
  .footer__elements-footer__contact {
    margin: 0;
  }
}
body {
  margin: 0;
  padding: 0;
}

.logo {
  padding-bottom: 10px;
}
.logo button {
  position: absolute;
  left: 25px;
  top: 18px;
  font-size: 1.5em;
  border: none;
  background-color: transparent;
}

.details__image-container {
  height: 600px;
  width: 100%;
}
.details__image-container__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.details__francaise {
  position: relative;
  margin-top: -40px;
  background-color: whitesmoke;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}
.details__francaise__titre {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.details__francaise__titre__title {
  text-align: center;
  font-size: 1.5em;
}
.details__francaise__titre i {
  font-size: 1.5em;
}
.details__francaise__entree-text {
  padding-bottom: 30px;
  padding: 10px;
}
.details__francaise__entree-text__entree-titre {
  font-size: 1.1em;
  margin-bottom: 30px;
  border-bottom: 3px solid #99E2D0;
  width: 45px;
  opacity: 0.7;
}
.details__francaise__entree-text__entree-elements__plat-text:nth-child(1) {
  animation: opa 5s;
}
.details__francaise__entree-text__entree-elements__plat-text:nth-child(2) {
  animation: opa 8s;
}
.details__francaise__entree-text__entree-elements__plat-text:nth-child(3) {
  animation: opa 11s;
}
.details__francaise__entree-text__entree-elements__plat-text:nth-child(4) {
  animation: opa 14s;
}
.details__francaise__entree-text__entree-elements__plat-text {
  position: relative;
  display: flex;
  justify-content: space-between;
  font-size: 1em;
  border-radius: 20px;
  margin-top: 30px;
  background-color: white;
  box-shadow: 0px 5px 5px 5px rgba(133, 133, 133, 0.24);
}
.details__francaise__entree-text__entree-elements__plat-text__plat {
  padding-left: 20px;
  flex: 1;
  padding-bottom: 10px;
  overflow: hidden;
}
.details__francaise__entree-text__entree-elements__plat-text__plat p {
  margin: 0;
  padding-top: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.details__francaise__entree-text__entree-elements__plat-text__prix {
  padding-top: 30px;
  padding-right: 20px;
}
.details__francaise__entree-text__entree-elements__plat-text__prix p {
  margin: 0;
  font-weight: bold;
}
.details__francaise__entree-text__entree-elements__plat-text:hover .details__francaise__entree-text__entree-elements__plat-text__check {
  animation: width 1s;
  width: 20px;
  padding: 16px;
  opacity: 1;
}
.details__francaise__entree-text__entree-elements__plat-text:hover .details__francaise__entree-text__entree-elements__plat-text__check i {
  animation: rotate 1s;
}
.details__francaise__entree-text__entree-elements__plat-text__check {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 0px;
  opacity: 0;
}
.details__francaise__entree-text__entree-elements__plat-text__check i {
  font-size: 1.5em;
  color: #99E2D0;
  background-color: white;
  border-radius: 50%;
}

.button {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  margin-bottom: 70px;
}
.button .btn {
  border: 1px solid black;
  text-decoration: none;
  border: none;
  padding: 16px;
  border-radius: 40px;
  padding-left: 60px;
  padding-right: 60px;
  font-size: 1em;
  color: white;
  box-shadow: 0px 5px 5px 5px rgba(133, 133, 133, 0.24);
  background: linear-gradient(#FF79DA, #9356DC);
}
.button .btn.btn:hover {
  background: linear-gradient(#FF79DA, #9356DC);
  opacity: 0.7;
}

@media screen and (max-width: 768px) {
  .logo {
    padding-bottom: 5px;
  }
  .logo__image {
    width: 230px;
  }

  .logo button {
    top: 11px;
  }

  .details__image-container {
    height: 400px;
  }
}
@media screen and (max-width: 765px) {
  .logo {
    padding-bottom: 5px;
  }
  .logo__image {
    width: 160px;
  }

  .logo button {
    left: 15px;
    top: 17px;
    font-size: 1.1em;
  }

  .details__image-container {
    height: 300px;
  }
  .details__francaise-titre {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .details__francaise-titre__title {
    font-size: 1.8em;
    font-weight: bold;
    padding-left: 10px;
  }
  .details__francaise-titre i {
    padding-right: 20px;
    opacity: 0.6;
  }
  .details__entree-text {
    padding: 10px;
  }
  .details__entree-text__entree-titre {
    margin-top: 0;
  }
  .details__entree-text__plat-text {
    margin-top: 18px;
  }
  .details__entree-text__plat-text__plat {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .details__entree-text__plat-text__prix {
    position: relative;
    top: 6px;
    left: 8px;
  }
  .details__entree-text__plat-text__check {
    padding: 6px;
  }
  .details__entree-text__plat-text p {
    font-size: 0.85em;
  }

  .bouton {
    padding-top: 20px;
  }

  .footer__logo-footer {
    width: 100px;
  }
}
@keyframes opa {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes width {
  from {
    opacity: 0;
    width: 0px;
  }
  to {
    opacity: 1;
    width: 20px;
  }
}
@keyframes rotate {
  from {
    transform: rotate(280deg);
  }
  to {
    transform: rotate(0deg);
  }
}
.loader {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  perspective: 1000px;
  animation: zindex 3s linear;
}

.cube_container {
  width: 200px;
  height: 200px;
  opacity: 0;
  animation: cube 3s linear;
}

.cube {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  animation: spin 3s infinite linear;
}

.face {
  position: absolute;
  width: 200px;
  height: 200px;
}

.top {
  background: linear-gradient(#FF79DA, #9356DC);
  transform: rotateX(90deg) translateZ(100px);
}

.bottom {
  background: linear-gradient(#FF79DA, #9356DC);
  transform: rotateX(-90deg) translateZ(100px);
}

.right {
  background: linear-gradient(#FF79DA, #9356DC);
  transform: rotateY(90deg) translateZ(100px);
}

.left {
  background: linear-gradient(#FF79DA, #9356DC);
  transform: rotateY(-90deg) translateZ(100px);
}

.front {
  background: linear-gradient(#FF79DA, #9356DC);
  transform: rotateX(0deg) translateZ(100px);
}

.back {
  background: linear-gradient(#FF79DA, #9356DC);
  transform: rotateX(-180deg) translateZ(100px);
}

@keyframes spin {
  from {
    transform: rotateX(0deg) rotateY(0deg);
  }
  to {
    transform: rotateX(360deg) rotateY(360deg);
  }
}
@keyframes zindex {
  from {
    background: black;
    opacity: 1;
    z-index: 1;
  }
  to {
    background: transparent;
    opacity: 0;
    z-index: -1;
  }
}
@keyframes cube {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/*# sourceMappingURL=style.css.map */
