/*// Reset styles
* {
    margin: 0;
    padding: 0;
}*/
body {
  margin: 0;
  padding: 0;
}

p, h2, h3 {
  font-family: "Roboto", sans-serif;
}

.logo, h1 {
  font-family: "Shrikhand", cursive;
}

.logo {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.logo .logo__image {
  width: 300px;
  padding-top: 5px;
  object-fit: contain;
}

.position {
  display: flex;
  background-color: rgba(109, 109, 109, 0.377);
  align-items: center;
  text-align: center;
  justify-content: center;
  width: auto;
}
.position i {
  height: 40px;
  width: 40px;
  font-size: 1.5em;
  padding-top: 14px;
  color: rgba(0, 0, 0, 0.521);
}
.position .position__text {
  font-size: 1.5em;
  font-weight: bold;
}

.text {
  background-color: #eaeaea;
}
.text .text__title {
  text-align: center;
  padding-top: 20px;
  margin: 0;
}
.text .text__subtitle {
  opacity: 0.6;
  text-align: center;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.bouton {
  display: flex;
  justify-content: center;
  background-color: #eaeaea;
  padding-bottom: 60px;
}
.bouton .btn {
  border: 1px solid black;
  text-decoration: none;
  padding: 20px;
  margin-top: 10px;
  border-radius: 40px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 1em;
  color: white;
  box-shadow: 0px 5px 5px 5px rgba(133, 133, 133, 0.24);
  background: linear-gradient(#FF79DA, #9356DC);
}
.bouton .btn.btn:hover {
  background: linear-gradient(#FF79DA, #9356DC);
  opacity: 0.7;
}

@media screen and (max-width: 360px) {
  .logo {
    width: auto;
    height: 50px;
  }
  .logo .logo__image {
    width: 200px;
  }

  .position {
    height: 42px;
  }
  .position i {
    padding-right: 5px;
    height: auto;
    width: auto;
    font-size: 1em;
    padding-top: 0;
  }
  .position .position__text {
    font-size: 1em;
    padding-left: 5px;
  }
}
.header_fonctionnement {
  display: flex;
}

.header_fonctionnement__fonctionnement, .restaurants {
  font-size: 1.5em;
  margin-left: 10px;
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.header_fonctionnement__barre_menu {
  display: flex;
  position: relative;
  margin-left: 30px;
  font-size: 1.2em;
  border: 1px solid black;
  width: 300px;
  height: 50px;
  margin-top: 50px;
  margin-right: 50px;
  margin-left: 50px;
  padding-bottom: 20px;
  padding-top: 5px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-bottom: 40px;
}
.header_fonctionnement__barre_menu .header_fonctionnement__barre_menu_numero {
  position: absolute;
  top: 26px;
  left: -23px;
  border: 1px solid black;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  color: white;
  background-color: #9356DC;
}
.header_fonctionnement__barre_menu .header_fonctionnement__icons {
  margin-left: 20px;
  padding-top: 20px;
  color: rgba(0, 0, 0, 0.521);
}
.header_fonctionnement__barre_menu .header_fonctionnement__icons.header_fonctionnement__icons:hover {
  color: #9356DC;
}
.header_fonctionnement__barre_menu .header_fonctionnement__text_fonctionnement {
  margin-left: 15px;
  padding-top: 20px;
  font-weight: bold;
}
.header_fonctionnement__barre_menu .header_fonctionnement__text_fonctionnement p {
  position: relative;
  top: -20px;
  font-weight: bold;
}

@media screen and (max-width: 1200px) {
  .header_fonctionnement {
    display: block;
  }
  .header_fonctionnement .header_fonctionnement__barre_menu {
    width: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .header_fonctionnement .header_fonctionnement__barre_menu .header_fonctionnement__text_fonctionnement p {
    top: 0px;
  }
}
@media screen and (max-width: 360px) {
  .header_fonctionnement__fonctionnement, .restaurants {
    justify-content: left;
    padding-left: 15px;
  }

  .header_fonctionnement__barre_menu {
    margin-top: 0;
    margin-right: 20px;
    margin-left: 20px;
  }
  .header_fonctionnement__barre_menu .header_fonctionnement__icons {
    margin-left: 0;
  }
}
.restaurants {
  background-color: rgba(185, 185, 185, 0.363);
  margin-left: 0;
}

.restaurants__title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  background-color: rgba(185, 185, 185, 0.363);
}

.portfolio__card_item {
  flex-grow: 1;
  overflow: hidden;
  width: 500px;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  box-shadow: 0px 5px 5px 5px rgba(133, 133, 133, 0.24);
}

.portfolio__card_photo {
  position: relative;
  height: 350px;
}
.portfolio__card_photo .portfolio__card_image {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.portfolio__card_photo .portfolio__badge {
  position: absolute;
  top: 20px;
  right: 10px;
  background-color: #99E2D0;
  color: green;
  border-radius: 5px;
  padding: 10px 20px;
}

.portfolio__card_text {
  position: relative;
  font-size: 1.3em;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.portfolio__card_text p {
  margin: 0;
}
.portfolio__card_text .coeur {
  font-size: 1.1em;
  border: none;
  background-color: transparent;
}
.portfolio__card_text .empty i {
  color: black;
}
.portfolio__card_text .empty:hover {
  display: none;
  opacity: 0;
}
.portfolio__card_text .full {
  display: none;
  opacity: 0;
}
.portfolio__card_text .full i {
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.portfolio__card_text .empty:hover + .full {
  display: block;
  opacity: 1;
}

@media screen and (max-width: 1200px) {
  .portfolio__card_item {
    width: auto;
  }
}
@media screen and (max-width: 360px) {
  .portfolio {
    width: 100%;
    padding: 0;
  }

  .portfolio__card_photo {
    height: 200px;
  }

  .portfolio__card_text p {
    font-size: 0.8em;
  }
  .portfolio__card_text .coeur {
    top: -2px;
  }
}
.footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #353535;
}
.footer .footer__logo_footer {
  height: 100px;
  width: 200px;
  margin: 0 auto;
}
.footer .footer__logo_footer .footer__image {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.footer .footer__elements_footer a {
  text-decoration: none;
}
.footer .footer__icons_footer, .footer p, .footer .footer__icons_footer_2 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.footer .footer__icons_footer i, .footer p i, .footer .footer__icons_footer_2 i {
  padding-right: 10px;
}
.footer .footer__icons_footer p, .footer p p, .footer .footer__icons_footer_2 p {
  font-weight: bold;
  opacity: 0.8;
}
.footer .footer__icons_footer_2 p {
  margin-right: 22px;
}
.footer__contact {
  margin-right: 53px;
}

@media screen and (max-width: 360px) {
  .footer__logo_footer {
    width: 100px;
    margin: 0;
    padding: 20px;
    height: auto;
  }

  .footer__elements_footer {
    padding: 20px;
    padding-top: 0;
  }
  .footer__elements_footer .footer__icons_footer, .footer__elements_footer .footer .footer__icons_footer_2, .footer .footer__elements_footer .footer__icons_footer_2, .footer__elements_footer .footer p, .footer .footer__elements_footer p {
    justify-content: start;
    padding-bottom: 5px;
  }
  .footer__elements_footer .footer__icons_footer p, .footer__elements_footer .footer .footer__icons_footer_2 p, .footer .footer__elements_footer .footer__icons_footer_2 p, .footer__elements_footer .footer p p, .footer .footer__elements_footer p p {
    margin: 0;
    font-size: 1em;
  }
}
body {
  margin: 0;
  padding: 0;
}

.logo {
  padding-bottom: 10px;
}
.logo button {
  position: absolute;
  left: 25px;
  top: 18px;
  font-size: 1.5em;
  border: none;
  background-color: transparent;
}

.details__image_container {
  height: 600px;
  width: 100%;
}
.details__image_container .details__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.details__francaise {
  position: relative;
  margin-top: -40px;
  background-color: whitesmoke;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

.details__francaise_titre {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.details__francaise_titre .details__title {
  text-align: center;
}
.details__francaise_titre i {
  font-size: 1.5em;
}

.details__plat_text:nth-child(1) {
  animation: opa 5s;
}
.details__plat_text:nth-child(2) {
  animation: opa 8s;
}
.details__plat_text:nth-child(3) {
  animation: opa 11s;
}

.details__entree_text {
  padding-bottom: 30px;
  padding: 10px;
}
.details__entree_text .details__entree_titre {
  font-size: 1.1em;
  margin-bottom: 30px;
  margin-top: 30px;
  border-bottom: 3px solid #99E2D0;
  width: 45px;
  opacity: 0.7;
}

.details__plat_text {
  position: relative;
  display: flex;
  justify-content: space-between;
  font-size: 1.1em;
  border-radius: 20px;
  margin-top: 30px;
  background-color: white;
  box-shadow: 0px 5px 5px 5px rgba(133, 133, 133, 0.24);
}
.details__plat_text .details__plat {
  padding-left: 20px;
}
.details__plat_text .details__plat p {
  margin: 0;
  padding-top: 5px;
}
.details__plat_text .details__prix {
  padding-top: 30px;
  padding-right: 20px;
}
.details__plat_text .details__prix p {
  margin: 0;
  font-weight: bold;
}
.details__plat_text .details__check {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #99E2D0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 0px;
  opacity: 0;
}
.details__plat_text .details__check i {
  font-size: 1.5em;
  color: #99E2D0;
  background-color: white;
  border-radius: 50%;
  animation: rotate 6s linear;
}
.details__plat_text .details__check.details__check:hover {
  animation: width 3s;
  width: 50px;
  opacity: 1;
}

.bouton {
  padding-top: 50px;
}
.bouton .btn {
  padding-right: 60px;
  padding-left: 60px;
  border: none;
}

@media screen and (max-width: 768px) {
  .logo {
    padding-bottom: 5px;
  }
  .logo .logo__image {
    width: 230px;
  }

  .logo button {
    top: 11px;
  }

  .details__image_container {
    height: 400px;
  }
}
@media screen and (max-width: 380px) {
  .logo .logo__image {
    width: 160px;
  }

  .logo button {
    left: 15px;
    top: 8px;
    font-size: 1.1em;
  }
}
@media screen and (max-width: 360px) {
  .logo {
    padding-bottom: 5px;
  }
  .logo .logo__image {
    width: 160px;
  }

  .logo button {
    left: 15px;
    top: 17px;
    font-size: 1.1em;
  }

  .details__image_container {
    height: 300px;
  }

  .details__francaise_titre {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .details__francaise_titre .details__title {
    font-size: 1.8em;
    font-weight: bold;
    padding-left: 10px;
  }
  .details__francaise_titre i {
    padding-right: 20px;
    opacity: 0.6;
  }

  .details__entree_text {
    padding: 10px;
  }
  .details__entree_text .details__entree_titre {
    margin-top: 0;
  }

  .details__plat_text {
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 18px;
  }
  .details__plat_text .details__prix {
    position: relative;
    top: -2px;
    left: 8px;
  }

  .bouton {
    padding-top: 20px;
  }

  .details__plat_text p {
    font-size: 0.85em;
  }

  .footer__logo_footer {
    width: 100px;
  }
}
@keyframes opa {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes width {
  from {
    opacity: 0;
    width: 0px;
  }
  to {
    opacity: 1;
    width: 50px;
  }
}
@keyframes rotate {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
.loader {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  perspective: 1000px;
  animation: zindex 10s linear;
}

.cube_container {
  width: 200px;
  height: 200px;
  opacity: 0;
  animation: cube 5s linear;
}

.cube {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  animation: spin 15s infinite linear;
}

.face {
  position: absolute;
  width: 200px;
  height: 200px;
}

.top {
  background: linear-gradient(#FF79DA, #9356DC);
  transform: rotateX(90deg) translateZ(100px);
}

.bottom {
  background: linear-gradient(#FF79DA, #9356DC);
  transform: rotateX(-90deg) translateZ(100px);
}

.right {
  background: linear-gradient(#FF79DA, #9356DC);
  transform: rotateY(90deg) translateZ(100px);
}

.left {
  background: linear-gradient(#FF79DA, #9356DC);
  transform: rotateY(-90deg) translateZ(100px);
}

.front {
  background: linear-gradient(#FF79DA, #9356DC);
  transform: rotateX(0deg) translateZ(100px);
}

.back {
  background: linear-gradient(#FF79DA, #9356DC);
  transform: rotateX(-180deg) translateZ(100px);
}

@keyframes spin {
  from {
    transform: rotateX(0deg) rotateY(0deg);
  }
  to {
    transform: rotateX(360deg) rotateY(360deg);
  }
}
@keyframes zindex {
  from {
    background: black;
    opacity: 1;
    z-index: 1;
  }
  to {
    background: transparent;
    opacity: 0;
    z-index: -1;
  }
}
@keyframes cube {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/*# sourceMappingURL=style.css.map */
