.header_fonctionnement{
    display: flex;
    
}

.header_fonctionnement__fonctionnement{
    font-size: 1.5em;
    margin-left: 10px;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.header_fonctionnement__barre_menu{
    display: flex;
    position: relative;
    margin-left: 30px;
    font-size: 1.2em;
    border: 1px solid black;
    width: 300px;
    height: 50px;
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 50px;
    padding-bottom: 20px;
    padding-top: 5px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-bottom: 40px;

    .header_fonctionnement__barre_menu_numero{
            position: absolute;
            top: 26px;
            left: -23px;
            border: 1px solid black;
            width: 25px;
            height: 25px;
            border-radius: 100%;
            text-align: center;
            justify-content: center;
            align-items: center;
            margin-left: 10px;
            color: white;
            background-color: $couleurprimaire;
        }

        .header_fonctionnement__icons{
            margin-left: 20px;
            padding-top: 20px;
            color: rgba(0, 0, 0, 0.521);

            &.header_fonctionnement__icons:hover{
                color: $couleurprimaire;
            }
        }
        .header_fonctionnement__text_fonctionnement{
            margin-left: 15px;
            padding-top: 20px;
            font-weight: bold;

            p{
                position: relative;
                top: -20px;
                font-weight: bold;
            }   
        
            
        }
}


@media screen and (max-width: 1200px){
    .header_fonctionnement{
        display: block;


        .header_fonctionnement__barre_menu{
                width: auto;
                text-align: center;
                justify-content: center;
                align-items: center;

                .header_fonctionnement__text_fonctionnement p{
                    top: 0px;
                }
            }
    }
}

@media screen and (max-width: 360px){

    .header_fonctionnement__fonctionnement{
        justify-content: left;
        padding-left: 15px;
    }
    .header_fonctionnement__barre_menu{
        margin-top: 0;
        margin-right: 20px;
        margin-left: 20px;

        .header_fonctionnement__icons{
            margin-left: 0;     
        }
    }
}