.footer{
    display: flex;
    justify-content: center;    
    flex-direction: column;
    background-color: #353535;

    &__logo-footer{
        height: 100px;
        width: 200px;
        margin: 0 auto;
        
    
        &__image{
            height: 100%;
            width: 100%;
            object-fit: contain;
            
        }
    }
         &__elements-footer a{
            text-decoration: none;
        }

        &__elements-footer{

            &__icons-footer{
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
    
                i{
                    padding-right: 10px;
                }
                p{
                    font-weight: bold;
                    opacity: 0.8;
                }
            }
            &__icons-footer-2{
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;

                i{
                    padding-right: 10px;
                }  
                
                p{
                    font-weight: bold;
                    opacity: 0.8;
                    
                }
            }

            &__text{
                @extend .footer__elements-footer__icons-footer;
            }

            &__contact {
                @extend .footer__elements-footer__icons-footer;
                margin-right: 53px;

            }
        }
    }

    





@media screen and (max-width: 765px){
    
    .footer{
        
        &__logo-footer{
            width: 100px;
            margin: 0;
            padding: 20px;
            height: auto;
        }

        &__elements-footer {
            padding: 20px;
            padding-top: 0;
    
            &__icons-footer{
                justify-content: start;
                padding-bottom: 5px;
    
                p{
                    margin: 0;
                    font-size: 1em;
                }
                
            }
            &__icons-footer-2{
                justify-content: start;
                padding-bottom: 5px;

                i{
                    padding-right: 10px;
                    margin-left: -6px;
                }
                p{
                    margin: 0;
                }
            }

            &__text{
                margin: 0;
            }

            &__contact{
                margin: 0;
            }
        }
    }   

}


