footer{
    display: flex;
    justify-content: center;    
    flex-direction: column;
    background-color: #353535;

    .logo_footer{
        height: 100px;
        width: 200px;
        margin: 0 auto;
        
    
        img{
            height: 100%;
            width: 100%;
            object-fit: contain;
            
        }
    }
    .elements_footer a{
        text-decoration: none;
    }

    .icons_footer{
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }

    i{
        padding-right: 10px;
    }
    p{
        font-weight: bold;
        opacity: 0.8;
    }

    .icons_footer_2{
        @extend .icons_footer;
        
        p{
            margin-right: 22px;
        }
    }

    p{
        @extend .icons_footer;
    }
}

.contact {
    margin-right: 53px;
}



@media screen and (max-width: 360px){
    
    footer .logo_footer{
        width: 100px;
        margin: 0;
        padding: 20px;
        height: auto;
    }
    .elements_footer {
        padding: 20px;
        padding-top: 0;

        p{
            margin: 0;
            font-size: 1em;
        }

        .icons_footer{
            justify-content: start;
            padding-bottom: 5px;
            
        }
    }   

}


