.logo{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;

    &__image{
        width: 300px;
        padding-top: 5px;
        object-fit: contain;     
    }    
}
.position{
    display: flex;
    background-color: #bbbbbb7e;
    box-shadow: -1px 35px 9px -32px rgb(0 0 0 / 10%) inset;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: auto;
    i{
        height: 40px;
        width: 40px;
        font-size: 1.5em;
        padding-top: 14px;
        font-weight: bold;   
    }
    &__text{
        font-size: 1.5em;
        font-weight: bold;
    }
}
.text{
    background-color: #eaeaea;

    &__title{
        text-align: center;
        padding-top: 20px;
        margin: 0;   
    }
    &__subtitle{
        opacity: 0.6;
        text-align: center;
        margin: 0;
        padding-top: 20px;
        padding-bottom: 20px; 
    }
}
.bouton{
    display: flex;
    justify-content: center;
    background-color: #eaeaea;
    padding-bottom: 60px;

    .btn{
        border: 1px solid black;
        text-decoration: none;
        border: none;
        padding: 20px;
        border-radius: 40px;
        padding-left: 60px;
        padding-right: 60px;
        font-size: 1em;
        color:white;
        box-shadow: 0px 5px 5px 5px rgba(133, 133, 133, 0.24);
        background: linear-gradient($couleursecondaire, $couleurprimaire);

        &.btn:hover{
            background: linear-gradient($couleursecondaire, $couleurprimaire);
            opacity: 0.7;
        }
    }
}


@media screen and (max-width: 765px){
    .logo{
        width: auto;
        height: 50px;

        &__image{
            width: 200px;
        }
    }

    .position{
        i{
            padding-right: 5px;
            height: auto;
            width: auto;
            font-size: 16px;
            padding-top: 0;
        }           
        &__text{
            font-size: 16px;
            padding-left: 5px;
        }
    }

    .bouton{

        .btn{
            padding-left: 30px;
            padding-right: 30px;
        }
    }
}