.restaurants{
    @extend .header-fonctionnement__fonctionnement;
    background-color: rgba(185, 185, 185, 0.363);
    margin-left: 0;

    &__title{
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
    
    }  
}

.portfolio{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    background-color: rgba(185, 185, 185, 0.363);

    &__card-item{

        flex-grow: 1;
        overflow: hidden;
        width: 500px;
        border-radius: 10px;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        box-shadow: 0px 5px 5px 5px rgba(133, 133, 133, 0.24);

        &__card-photo{
            position: relative;
            height: 350px;
            
            &__card-image{
                object-fit: cover;
                height: 100%;
                width: 100%;
            }
            &__badge{
                position: absolute;
                top: 20px;
                right: 10px;
                background-color: $couleurtertiaire;
                color: green;
                border-radius: 5px;
                padding: 10px 20px;
                font-family: 'Roboto', sans-serif;
                font-weight: bold;
                font-size: 13px;
            }
        }

        &__card-text{
            position: relative;
            font-size: 1.3em;
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
             
            p{
                margin: 0;
            }
        
            .coeur{
                font-size: 1.1em;
                border: none;
                background-color: transparent;    
            }
        
            .empty {
                i{
                    color: black;
                }
                &:hover{
                    display: none;
                    opacity: 0;
                }
            }
            
            .full{
                display: none;
                opacity: 0;
                i{
                    background: linear-gradient($couleursecondaire, $couleurprimaire);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
        
            .empty:hover + .full{
                display: block;
                opacity: 1;
            }
        }
    }


}

@media screen and (max-width: 1200px){
    .portfolio{

        &__card-item{
            width: auto;
        }
    }
}

@media screen and (max-width: 765px){
    .restaurants{
        padding-top: 40px;   

        &__title{
            font-size: 1.1em;
        }
    }

    .portfolio{
        width: 100%;
        padding: 0;
        padding-bottom: 80px;

        &__card-item{

            &__card-photo{
                height: 200px;
            }
    
            &__card-text{
            
                p{
                    font-size: 0.8em;
                }
        
                .coeur{
                    top: -2px;
                }
            }
        }
    }   
}